<form [formGroup]="productForm" (ngSubmit)="onsubmit()">
  <div class="demo-page">
    <main class="demo-page-content">
      <section>
        <div class="href-target" id="structure"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-layers">
            <polygon points="12 2 2 7 12 12 22 7 12 2" />
            <polyline points="2 17 12 22 22 17" />
            <polyline points="2 12 12 17 22 12" />
          </svg>
          ADD PRODUCT
        </h1>
        <div class="nice-form-group">
          <label>Product Name</label>
          <input type="text" placeholder="Product name" formControlName="tradeName" />
        </div>
        <div class="nice-form-group">
          <label>Company Name</label>
          <select class="form-select form-control" aria-label="Default select example" formControlName="companyName"
            placeholder="select one">
            <!-- <option selected>Select One</option> -->
            <option *ngFor="let item of companyList">{{item.name}}</option>
          </select>
        </div>
        <div class="nice-form-group">
          <label>Generic Name</label>
          <select class="form-select form-control" aria-label="Default select example" formControlName="generics" multiple>
            <option selected>Select One</option>
            <option *ngFor="let item of GenericList" value="{{item.id}}">{{item.genericName}}</option>
          </select>
        </div>
        <div class="nice-form-group">
          <label>Registered Quantity</label>
          <input type="number" placeholder="Registered Quantity" formControlName="regsrtQuantity" />
        </div>
        <div class="nice-form-group">
          <label>Sold Quantity</label>
          <input type="number" placeholder="Sold Quantity" formControlName="soldQuantity" />
        </div>
        <div class="nice-form-group">
          <label>Manufactured Date</label>
          <input type="date" value="2018-07-22" formControlName="mfd" />
        </div>
        <div class="nice-form-group">
          <label>Expiry Date</label>
          <input type="date" value="2018-07-22" formControlName="exp" />
        </div>
        <div class="nice-form-group">
          <label>M.R.P.</label>
          <input type="number" placeholder="Selling Price" formControlName="sellPrice" />
        </div>
        <br>
        <button class="btn btn-info profile-button" type="submit">Save</button>
        <span style="margin-left: 1300px;"></span>
      </section>
    </main>
  </div>
</form>