<!-- <app-return-home></app-return-home> -->
<section>
    <!--for demo wrap-->
    <h1>RETURNED TO SHOP LIST</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Trade Name</th>
            <th>Purchase Date</th>
            <th>Returned Date</th>
            <th>Returned Amount</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr *ngFor="let item of productList">
            <td>{{item.tradeName}}</td>
            <td>{{item.purchaseDate}}</td>
            <td>{{item.returnDate}}</td>
            <td>{{item.returnQTY}}</td>
            <td>{{item.fileData}}</td>
            <td>
              <i class="material-icons" [routerLink]="['/shopretedit/',item.id]">edit</i>
              <i class="material-icons" (click)="delete(item.id)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>