<br><br><br><br>
<div class="row">
    <div class="col-sm-4">
        <a [routerLink]="['/proadd']">
            <button>
                <span>Add Medicine</span>
                <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                    <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
                </svg>
            </button>
        </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['/addgeneric']">
            <button>
                <span>Add Generic</span>
                <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                    <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
                </svg>
            </button>
        </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['/compadd']">
            <button>
                <span>Add Company</span>
                <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                    <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
                </svg>
            </button>
        </a>
    </div>
</div>