<form (ngSubmit)="onsubmit()" [formGroup]="docForm">
    <div class="demo-page">
        <main class="demo-page-content">
            <section>
                <div class="href-target" id="structure"></div>
                <h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2" />
                        <polyline points="2 17 12 22 22 17" />
                        <polyline points="2 12 12 17 22 12" />
                    </svg>
                    ADD DOCTOR
                </h1>
                <div class="nice-form-group">
                    <label>Doctor Name</label>
                    <input type="text" formControlName="name"/>
                </div>
                <div class="nice-form-group">
                    <label>Address</label>
                    <input type="text" formControlName="address"/>
                </div>
                <div class="nice-form-group">
                    <label>Specialty</label>
                    <input type="text" formControlName="specialty"/>
                </div>
                <div class="nice-form-group">
                    <label>Contact</label>
                    <input type="tel" formControlName="contact"/>
                </div>
                <br>
                <button class="btn profile-button" type="submit"  style="background-color: #43a0ec;">Save</button>
                <span style="margin-left: 1300px;"></span>
            </section>
         </main>
    </div> 
</form>