

<form action="" [formGroup]="searchForm">
  <div class="row">
    <div class="nice-form-group">
      <div class="col-4">
        <label>Search By {{searchForm.value.selectvalue}}</label>
      </div>
      <div class="col-4">
        <select class="form-select form-control" aria-label="Default select example" placeholder="select one" formControlName="selectvalue">
          <option selected>Search By All</option>
          <option value="customer">Customer Contact</option>
          <option value="employee">Employee ID</option>
        </select>
        <button class="btn btn-success my-2 my-sm-0" (click)=" getByParam()">Search</button> &nbsp;
      </div>
      <div class="col-4">
        <input type="search" placeholder="Search all the things" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchbox" />
      </div>
    </div>
  </div>
</form>

<section>
  <h1>SALES LIST</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>SL. No.</th>
          <th>Customer Contact</th>
          <th>Employee ID</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr *ngFor="let item of salesList">
          <td>{{item.id}}</td>
          <td>{{item.customerId}}</td>
          <td>{{item.empName}}</td>
          <td>
            <i class="material-icons" [routerLink]="['/custedit/',item.id]">edit</i>
            <i class="material-icons" (click)="confirmBox(item)">delete</i>
            <i class="material-icons" [routerLink]="['/invoice/',item.id]">description</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>