<section>
    <!--for demo wrap-->
    <h1>Fixed Table header</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Specialty</th>
            <th>Contact</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr *ngFor="let item of doctorList">
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.specialty}}</td>
            <td>{{item.contact}}</td>
            <td>
              <i class="material-icons" [routerLink]="['/edidoctor/',item.id]">edit</i>
              <i class="material-icons" (click)="confirmBox(item)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
